:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* 共通のカラーパレット */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #a9a9a9;
  --color-dark-gray: #7F7F7F;
  --color-blue: #4D79FF;
  --color-light-blue: #697FBF;
}

html {
  font-size: 75%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
  letter-spacing: 0.1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* タブレット
------------------------------------------ */
@media screen and (min-width:768px) {
  html {
    font-size: 87.5%;
  }
}

/* PC
------------------------------------------ */
@media screen and (min-width:960px) {
  html {
    font-size: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
